.landing-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.5rem;
}

.landing-title {
  position: absolute;
}

.signup-button {
  margin-left: auto;
  border: none;
  background: none;
  margin-right: 1rem;
}

.login-button {
  padding: 10px;
  border-radius: 5px;
}

main, section {
  display: flex;
}

section {
  flex-basis: 100%;
}

.landing-left {
  flex-direction: column;
}

.left-title {
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: auto;
  max-width: 15ch;
}

.left-description {
  margin-top: 1rem;
  line-height: 30px;
  max-width: 38ch;
  margin-bottom: 2.5rem;
}

.landing-button {
  margin-bottom: auto;
  padding-block: 16px;
  max-width: 430px;
  border-radius: 5px;
}

.landing-img {
  margin-left: auto;
}
